.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 4px;
  padding: var(--token-I2Fmwuhwj);
}
.svg__qFvWg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__uPznt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-mETroofsW);
  padding-bottom: var(--token--B9VXXpFP);
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__ndJVy {
  display: flex;
  position: relative;
}
.slotTargetSlot3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-uivVy8yoP);
}
.freeBox___6KKuV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-I2Fmwuhwj);
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__cwCwv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__tOilB {
  color: var(--token-uivVy8yoP);
  text-decoration-line: underline;
  font-weight: 700;
}
