.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-vqJqrTcQS);
  min-width: 0;
}
.freeBox__jK8Iv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px var(--token-mETroofsW);
}
.freeBox__jK8Iv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token--B9VXXpFP));
  height: calc(100% + var(--token--B9VXXpFP));
}
.freeBox__jK8Iv > :global(.__wab_flex-container) > *,
.freeBox__jK8Iv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jK8Iv > :global(.__wab_flex-container) > picture > img,
.freeBox__jK8Iv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token--B9VXXpFP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jK8Iv {
    padding-right: var(--token-I2Fmwuhwj);
    padding-left: var(--token-I2Fmwuhwj);
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___6BfJe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___6BfJe {
    width: 100%;
  }
}
.freeBox__cBi3O {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__cBi3O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cBi3O > :global(.__wab_flex-container) > *,
.freeBox__cBi3O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cBi3O > :global(.__wab_flex-container) > picture > img,
.freeBox__cBi3O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__g0IaO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__g0IaO > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__g0IaO > :global(.__wab_flex-container) > *,
.freeBox__g0IaO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g0IaO > :global(.__wab_flex-container) > picture > img,
.freeBox__g0IaO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__efNqy {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-aTdt1Z5Z5);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__efNqy {
    font-size: 18px;
  }
}
.text__sxz3T {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-NsGwOASzC);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sxz3T {
    font-size: 12px;
  }
}
.column__reEoO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__reEoO {
    width: 100%;
  }
}
.freeBox__hHrJv {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__hHrJv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hHrJv > :global(.__wab_flex-container) > *,
.freeBox__hHrJv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHrJv > :global(.__wab_flex-container) > picture > img,
.freeBox__hHrJv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__vztgi {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-_o_DjjSJP);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vztgi {
    font-size: 14px;
  }
}
.button__uWfIw:global(.__wab_instance) {
  position: relative;
}
.svg__gl9Sx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bxlJm {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-NsGwOASzC);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bxlJm {
    font-size: 12px;
  }
}
.svg__lC7Rt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link {
  position: relative;
  display: flex;
}
.svg__cspQl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rs5Sm {
  height: auto;
  color: var(--token-NsGwOASzC);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rs5Sm {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--token-NsGwOASzC);
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none !important;
    text-overflow: clip !important;
  }
}
.svg__jiXpS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__lZ22J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lZ22J {
    width: 100%;
  }
}
.freeBox__b3L {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__b3L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__b3L > :global(.__wab_flex-container) > *,
.freeBox__b3L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b3L > :global(.__wab_flex-container) > picture > img,
.freeBox__b3L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__zvnB {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-_o_DjjSJP);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zvnB {
    font-size: 14px;
  }
}
.button__n0Gt5:global(.__wab_instance) {
  position: relative;
}
.svg__eubB6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ew7SY {
  color: var(--token-NsGwOASzC);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ew7SY {
    font-size: 12px;
  }
}
.svg___45ABv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__fSg9I:global(.__wab_instance) {
  position: relative;
}
.svg__owtAc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__f2AVk {
  color: var(--token-NsGwOASzC);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__f2AVk {
    font-size: 12px;
  }
}
.svg__imGuE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___3ZsCr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3ZsCr {
    width: 100%;
  }
}
.freeBox__aqz2G {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__aqz2G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aqz2G > :global(.__wab_flex-container) > *,
.freeBox__aqz2G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aqz2G > :global(.__wab_flex-container) > picture > img,
.freeBox__aqz2G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__rbz3Y {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-_o_DjjSJP);
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__yDmIa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NsGwOASzC);
  min-width: 0;
}
.text__nBacz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-NsGwOASzC);
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nBacz {
    font-size: 12px;
  }
}
