.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__sk0As {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-IA8HLN4N_);
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: var(--token--B9VXXpFP) var(--token-mETroofsW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sk0As {
    padding-left: var(--token-I2Fmwuhwj);
    padding-right: var(--token-I2Fmwuhwj);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    min-width: 0;
  }
}
.freeBox__ri5Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ri5Y {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.freeBoxsignedIn__ri5YG6R3N {
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen_signedIn__ri5YQlpTG6R3N {
    width: 100%;
    min-width: 0;
  }
}
.link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-m-kugXEFZ);
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.freeBox__f5Y5U {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f5Y5U {
    width: auto;
    height: auto;
    display: flex;
  }
}
.svg__j1M6K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_o_DjjSJP);
  width: var(--token-mETroofsW);
  height: var(--token-mETroofsW);
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__j1M6K {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgmenuOpen__j1M6KQlpT {
    display: none;
  }
}
.svg__kBpYr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_o_DjjSJP);
  width: var(--token-mETroofsW);
  height: var(--token-mETroofsW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__kBpYr {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgmenuOpen__kBpYrQlpT {
    display: block;
  }
}
.freeBox__pZgul {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pZgul {
    top: auto;
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: auto;
    right: auto;
    bottom: auto;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen__pZgulQlpT {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: var(--token-IA8HLN4N_);
    padding-top: 60px;
    min-width: 0;
    display: flex;
  }
}
.freeBox__c6Dd5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__c6Dd5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-mETroofsW));
  width: calc(100% + var(--token-mETroofsW));
}
.freeBox__c6Dd5 > :global(.__wab_flex-container) > *,
.freeBox__c6Dd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c6Dd5 > :global(.__wab_flex-container) > picture > img,
.freeBox__c6Dd5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mETroofsW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c6Dd5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c6Dd5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c6Dd5 > :global(.__wab_flex-container) > *,
  .freeBox__c6Dd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__c6Dd5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__c6Dd5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.button___3QiNj:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wEe4F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__r3Dta {
  color: var(--token-_o_DjjSJP);
}
.svg__gJdFj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__iKdWr:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tj8N9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__af036 {
  color: var(--token-_o_DjjSJP);
}
.svg__mzpL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__rp5Vh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jFuHt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gFvVi {
  color: var(--token-_o_DjjSJP);
}
.svg__w2G4S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__bhGl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bxMjp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___8Hpg {
  color: var(--token-_o_DjjSJP);
}
.svg__lkgd8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__oiL5F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__oiL5F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-mETroofsW));
  width: calc(100% + var(--token-mETroofsW));
}
.freeBox__oiL5F > :global(.__wab_flex-container) > *,
.freeBox__oiL5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oiL5F > :global(.__wab_flex-container) > picture > img,
.freeBox__oiL5F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mETroofsW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiL5F {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiL5F > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oiL5F > :global(.__wab_flex-container) > *,
  .freeBox__oiL5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oiL5F > :global(.__wab_flex-container) > picture > img,
  .freeBox__oiL5F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__oiL5FG6R3N {
  display: none;
}
.button___5Os7K:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.svg__fFp9O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__h54Ho {
  padding-right: 0px;
  color: var(--token-_o_DjjSJP);
}
.svg__bkkeY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___7WXke:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nZ9Qz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wDoK {
  padding-right: 0px;
  color: var(--token-_o_DjjSJP);
}
.svg__dp755 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__t6FEm {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.freeBox__t6FEm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-mETroofsW));
  width: calc(100% + var(--token-mETroofsW));
}
.freeBox__t6FEm > :global(.__wab_flex-container) > *,
.freeBox__t6FEm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t6FEm > :global(.__wab_flex-container) > picture > img,
.freeBox__t6FEm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mETroofsW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t6FEm {
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t6FEm > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t6FEm > :global(.__wab_flex-container) > *,
  .freeBox__t6FEm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__t6FEm > :global(.__wab_flex-container) > picture > img,
  .freeBox__t6FEm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__t6FEmg6R3N {
  display: flex;
}
.button__s5LTq:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.svg__aGa0E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uc097 {
  padding-right: 0px;
  color: var(--token-_o_DjjSJP);
}
.svg__zINaF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__mbDn9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5BS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vxotm {
  padding-right: 0px;
  color: var(--token-_o_DjjSJP);
}
.svg__tAlE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
