.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #ffffff;
  min-width: 0;
  border-radius: 4px;
  padding: var(--token-I2Fmwuhwj);
}
.freeBox__uej5H {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--token--B9VXXpFP);
}
.slotTargetChildren {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-aTdt1Z5Z5);
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetChildren {
    font-size: 18px;
  }
}
.freeBox__qglU8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token--B9VXXpFP);
  padding-top: var(--token--B9VXXpFP);
  min-width: 0;
}
.freeBox__qglU8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token--B9VXXpFP));
  height: calc(100% + var(--token--B9VXXpFP));
}
.freeBox__qglU8 > :global(.__wab_flex-container) > *,
.freeBox__qglU8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qglU8 > :global(.__wab_flex-container) > picture > img,
.freeBox__qglU8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token--B9VXXpFP);
}
.freeBox__izUOh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zO8I0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__gUK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot3 {
  font-size: 18px;
}
.freeBox__xWp80 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___0Mz97 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___92EJt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot6 {
  font-size: 18px;
}
.freeBox__etPej {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___2GvEr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vb3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__jsFJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__b7Oo {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot2 {
  font-size: 18px;
}
.freeBox__do8Dx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___9KIwa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__qtDxU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__tQjod {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lnP55 {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.freeBox__lnP55 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__lnP55 > :global(.__wab_flex-container) > *,
.freeBox__lnP55 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lnP55 > :global(.__wab_flex-container) > picture > img,
.freeBox__lnP55
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.slotTargetSlot7 {
  font-size: 18px;
}
.text___2Gxcf {
  font-size: 18px;
}
.freeBox__gv9SM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pQtxi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__elsoK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sy4Kx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mdBeS {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot5 {
  font-size: 18px;
}
.freeBox__kQe3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 700;
}
.freeBox__mosE1 {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: var(--token-I2Fmwuhwj);
}
.button__bSy3A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0;
}
.svg__dqHhf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cfuK1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
