.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__hcmZy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JwIj9R6poDP5);
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: var(--token-HORj6LCotodD) var(--token-PSdATFFpH6qC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hcmZy {
    padding-left: var(--token-X-GPb6jNlyyS);
    padding-right: var(--token-X-GPb6jNlyyS);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    min-width: 0;
  }
}
.freeBox__zQqIc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zQqIc {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 0;
  }
}
.freeBoxsignedIn__zQqICte2Hr {
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen_signedIn__zQqIcFhgljTe2Hr {
    width: 100%;
    min-width: 0;
  }
}
.link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-f0dl_vIRgCXU);
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.freeBox__wAdaC {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wAdaC {
    width: auto;
    height: auto;
    display: flex;
  }
}
.button__pxHdO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pxHdO:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonmenuOpen__pxHdOFhglj:global(.__wab_instance) {
    display: none;
  }
}
.svg__jag10 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yTnLn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___5FLPa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___8ORfw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonmenuOpen___8ORfwFhglj:global(.__wab_instance) {
    display: flex;
  }
}
.svg__drz94 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qyIzh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__kXzmJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__u5SjV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u5SjV {
    top: auto;
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: auto;
    right: auto;
    bottom: auto;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxmenuOpen__u5SjVFhglj {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: var(--token-JwIj9R6poDP5);
    padding-top: 60px;
    min-width: 0;
    display: flex;
  }
}
.freeBox__ojjIn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ojjIn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-PSdATFFpH6qC));
  width: calc(100% + var(--token-PSdATFFpH6qC));
}
.freeBox__ojjIn > :global(.__wab_flex-container) > *,
.freeBox__ojjIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ojjIn > :global(.__wab_flex-container) > picture > img,
.freeBox__ojjIn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PSdATFFpH6qC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ojjIn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ojjIn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ojjIn > :global(.__wab_flex-container) > *,
  .freeBox__ojjIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ojjIn > :global(.__wab_flex-container) > picture > img,
  .freeBox__ojjIn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.button__olXpW:global(.__wab_instance) {
  max-width: 100%;
}
.svg___27Nvn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y79F {
  color: var(--token-gKBhMi_ROKEp);
}
.svg__bx3My {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___9Mprb:global(.__wab_instance) {
  max-width: 100%;
}
.svg__etd1I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ytGue {
  color: var(--token-gKBhMi_ROKEp);
}
.svg__a8Uh4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__bpxcP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eHJcD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wzcl {
  color: var(--token-gKBhMi_ROKEp);
}
.svg__cwWyk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xlBjm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zh2TF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7ZoB9 {
  color: var(--token-gKBhMi_ROKEp);
}
.svg__ckDhn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fNeuH {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__fNeuH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-PSdATFFpH6qC));
  width: calc(100% + var(--token-PSdATFFpH6qC));
}
.freeBox__fNeuH > :global(.__wab_flex-container) > *,
.freeBox__fNeuH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fNeuH > :global(.__wab_flex-container) > picture > img,
.freeBox__fNeuH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PSdATFFpH6qC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fNeuH {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fNeuH > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fNeuH > :global(.__wab_flex-container) > *,
  .freeBox__fNeuH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fNeuH > :global(.__wab_flex-container) > picture > img,
  .freeBox__fNeuH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__fNeuHte2Hr {
  display: none;
}
.button__tPpGw:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tj8Od {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kng09 {
  padding-right: 0px;
  color: var(--token-gKBhMi_ROKEp);
}
.svg__lDbk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__bwKtx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wGylw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lDn3V {
  padding-right: 0px;
  color: var(--token-gKBhMi_ROKEp);
}
.svg__tpCku {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bJi0L {
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.freeBox__bJi0L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-PSdATFFpH6qC));
  width: calc(100% + var(--token-PSdATFFpH6qC));
}
.freeBox__bJi0L > :global(.__wab_flex-container) > *,
.freeBox__bJi0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bJi0L > :global(.__wab_flex-container) > picture > img,
.freeBox__bJi0L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PSdATFFpH6qC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJi0L {
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJi0L > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJi0L > :global(.__wab_flex-container) > *,
  .freeBox__bJi0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bJi0L > :global(.__wab_flex-container) > picture > img,
  .freeBox__bJi0L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxsignedIn__bJi0Lte2Hr {
  display: flex;
}
.button__vx4Q:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rQlnn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lo5Ls {
  padding-right: 0px;
  color: var(--token-gKBhMi_ROKEp);
}
.svg___5H4Ox {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__pYsrS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yzeJc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__otOe9 {
  padding-right: 0px;
  color: var(--token-gKBhMi_ROKEp);
}
.svg__ckckl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
