.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-W1Rkifvi07hL);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__ma1ZV {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/zig_trade_option/images/aloBGjpg.jpg") top 50% left 50% / cover repeat, #001a4d;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__ma1ZV > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ma1ZV {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ma1ZV > * {
    grid-column: 4;
  }
}
.freeBox__pufsM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pufsM {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__nRosn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___7C7Ic {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-f0dl_vIRgCXU);
  margin-right: 0px;
  padding-right: 0px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7C7Ic {
    font-size: 6px;
  }
}
.freeBox__zAsIz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iuAaA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3ZiBk {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--token-gKBhMi_ROKEp);
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3ZiBk {
    font-size: 38px;
  }
}
.freeBox___8JoGj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8JoGj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-X-GPb6jNlyyS));
  height: calc(100% + var(--token-X-GPb6jNlyyS));
}
.freeBox___8JoGj > :global(.__wab_flex-container) > *,
.freeBox___8JoGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8JoGj > :global(.__wab_flex-container) > picture > img,
.freeBox___8JoGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-X-GPb6jNlyyS);
}
.text__e3Ipp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bsyV_OXF_NhW);
  min-width: 0;
}
.freeBox___1KRvE {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1KRvE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___1KRvE > :global(.__wab_flex-container) > *,
.freeBox___1KRvE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1KRvE > :global(.__wab_flex-container) > picture > img,
.freeBox___1KRvE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1KRvE {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1KRvE > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-HORj6LCotodD));
    height: calc(100% + var(--token-HORj6LCotodD));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1KRvE > :global(.__wab_flex-container) > *,
  .freeBox___1KRvE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1KRvE > :global(.__wab_flex-container) > picture > img,
  .freeBox___1KRvE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-HORj6LCotodD);
  }
}
.button__k5T2F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3WvS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__byzjE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zdC0Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__zdC0Z:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__lLnH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6SSi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sHxuT {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 319px;
  right: auto;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sHxuT {
    top: 532px;
  }
}
.img__oZmCp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__oZmCp > picture > img {
  object-fit: cover;
}
.section__b1BkJ {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 30px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 291px 0 8px;
}
.section__b1BkJ > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__b1BkJ {
    padding-top: 90px;
    grid-row-gap: var(--token-HORj6LCotodD);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__b1BkJ > * {
    grid-column: 4;
  }
}
.text__bb4Vf {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-OnWZBVW5qp_n);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bb4Vf {
    font-size: 18px;
  }
}
.freeBox__iA4Ra {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__iA4Ra > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iA4Ra {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iA4Ra > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iA4Ra > :global(.__wab_flex-container) > *,
  .freeBox__iA4Ra > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iA4Ra > :global(.__wab_flex-container) > picture > img,
  .freeBox__iA4Ra
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text___6KJlX {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-OnWZBVW5qp_n);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6KJlX {
    font-size: 20px;
  }
}
.text___6WYih {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-OnWZBVW5qp_n);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6WYih {
    font-size: 20px;
  }
}
.text__gFbNp {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-OnWZBVW5qp_n);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gFbNp {
    font-size: 20px;
  }
}
.section__qhr7Y {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__qhr7Y > * {
  grid-column: 4;
}
.freeBox__cnzBo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__cnzBo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cnzBo {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cnzBo > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-HORj6LCotodD));
    height: calc(100% + var(--token-HORj6LCotodD));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cnzBo > :global(.__wab_flex-container) > *,
  .freeBox__cnzBo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cnzBo > :global(.__wab_flex-container) > picture > img,
  .freeBox__cnzBo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-HORj6LCotodD);
  }
}
.text__dAHn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dAHn {
    font-size: 26px;
  }
}
.freeBox__hRmSh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hRmSh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-HORj6LCotodD));
  height: calc(100% + var(--token-HORj6LCotodD));
}
.freeBox__hRmSh > :global(.__wab_flex-container) > *,
.freeBox__hRmSh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hRmSh > :global(.__wab_flex-container) > picture > img,
.freeBox__hRmSh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-HORj6LCotodD);
}
.text__srhm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xhP7N {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xhP7N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__xhP7N > :global(.__wab_flex-container) > *,
.freeBox__xhP7N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xhP7N > :global(.__wab_flex-container) > picture > img,
.freeBox__xhP7N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhP7N {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhP7N > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-LNspe6-Lo7YA));
    height: calc(100% + var(--token-LNspe6-Lo7YA));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhP7N > :global(.__wab_flex-container) > *,
  .freeBox__xhP7N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xhP7N > :global(.__wab_flex-container) > picture > img,
  .freeBox__xhP7N
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-LNspe6-Lo7YA);
  }
}
.metricItem__cfjhV:global(.__wab_instance) {
  position: relative;
}
.metricItem__qpaz5:global(.__wab_instance) {
  position: relative;
}
.metricItem__rbYu:global(.__wab_instance) {
  position: relative;
}
.text__nG2M {
  text-transform: capitalize;
}
.section__hd1Bv {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 30px 0 var(--token-PSdATFFpH6qC);
}
.section__hd1Bv > * {
  grid-column: 4;
}
.freeBox__t9Uog {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__t9Uog > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t9Uog {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t9Uog > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-PSdATFFpH6qC));
    height: calc(100% + var(--token-PSdATFFpH6qC));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t9Uog > :global(.__wab_flex-container) > *,
  .freeBox__t9Uog > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__t9Uog > :global(.__wab_flex-container) > picture > img,
  .freeBox__t9Uog
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-PSdATFFpH6qC);
  }
}
.feature__abhLb:global(.__wab_instance) {
  position: relative;
}
.svg__ogauj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-EPiKkH7ARKPs);
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ogauj {
    width: 24px;
    height: 24px;
  }
}
.feature__e9Jus:global(.__wab_instance) {
  position: relative;
}
.svg__oLwq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-EPiKkH7ARKPs);
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__oLwq {
    width: 24px;
    height: 24px;
  }
}
.feature__wfv3R:global(.__wab_instance) {
  position: relative;
}
.svg__lUroA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-EPiKkH7ARKPs);
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lUroA {
    width: 24px;
    height: 24px;
  }
}
.section__quB2H {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: var(--token-X-GPb6jNlyyS);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-PSdATFFpH6qC) 0;
}
.section__quB2H > * {
  grid-column: 4;
}
.plansPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.section__ejkZl {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #00cccc1a;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__ejkZl > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ejkZl > * {
    grid-column: 4;
  }
}
.freeBox__jgsdq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__jgsdq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jgsdq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jgsdq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-HORj6LCotodD));
    height: calc(100% + var(--token-HORj6LCotodD));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jgsdq > :global(.__wab_flex-container) > *,
  .freeBox__jgsdq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jgsdq > :global(.__wab_flex-container) > picture > img,
  .freeBox__jgsdq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-HORj6LCotodD);
  }
}
.freeBox___9Kb0Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9Kb0Y > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-HORj6LCotodD));
  height: calc(100% + var(--token-HORj6LCotodD));
}
.freeBox___9Kb0Y > :global(.__wab_flex-container) > *,
.freeBox___9Kb0Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Kb0Y > :global(.__wab_flex-container) > picture > img,
.freeBox___9Kb0Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-HORj6LCotodD);
}
.freeBox___2Yo8Z {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2Yo8Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-HORj6LCotodD));
  height: calc(100% + var(--token-HORj6LCotodD));
}
.freeBox___2Yo8Z > :global(.__wab_flex-container) > *,
.freeBox___2Yo8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Yo8Z > :global(.__wab_flex-container) > picture > img,
.freeBox___2Yo8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-HORj6LCotodD);
}
.text__rceS4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-EPiKkH7ARKPs);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__lM41R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OnWZBVW5qp_n);
  text-align: center;
  text-transform: capitalize;
}
.section___07Aj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-EPiKkH7ARKPs);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-PSdATFFpH6qC) 0;
}
.section___07Aj > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___07Aj > * {
    grid-column: 4;
  }
}
.freeBox__seZB {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__seZB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__seZB {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__seZB > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-X-GPb6jNlyyS));
    height: calc(100% + var(--token-X-GPb6jNlyyS));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__seZB > :global(.__wab_flex-container) > *,
  .freeBox__seZB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__seZB > :global(.__wab_flex-container) > picture > img,
  .freeBox__seZB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-X-GPb6jNlyyS);
  }
}
.freeBox__kQnZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 560px;
  min-width: 0;
}
.freeBox__kQnZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-HORj6LCotodD));
  height: calc(100% + var(--token-HORj6LCotodD));
}
.freeBox__kQnZ > :global(.__wab_flex-container) > *,
.freeBox__kQnZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kQnZ > :global(.__wab_flex-container) > picture > img,
.freeBox__kQnZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-HORj6LCotodD);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQnZ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-HORj6LCotodD));
    height: calc(100% + var(--token-HORj6LCotodD));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQnZ > :global(.__wab_flex-container) > *,
  .freeBox__kQnZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kQnZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__kQnZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-HORj6LCotodD);
  }
}
.text__yMgp5 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--token-gKBhMi_ROKEp);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yMgp5 {
    font-size: 22px;
  }
}
.text__wFs3C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-bsyV_OXF_NhW);
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.button__cKNtu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__v05Aq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q0BHl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sjhap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 300px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sjhap {
    max-width: 210px;
  }
}
.img__xEuhl {
  object-fit: cover;
  max-width: 100%;
}
.img__xEuhl > picture > img {
  object-fit: cover;
}
.section__dSxq9 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: var(--token-X-GPb6jNlyyS);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-PSdATFFpH6qC) 0;
}
.section__dSxq9 > * {
  grid-column: 4;
}
.text__joSnU {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #001233cc;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__joSnU {
    font-size: 22px;
  }
}
.freeBox___2S22B {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___2S22B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-PSdATFFpH6qC));
  width: calc(100% + var(--token-PSdATFFpH6qC));
}
.freeBox___2S22B > :global(.__wab_flex-container) > *,
.freeBox___2S22B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2S22B > :global(.__wab_flex-container) > picture > img,
.freeBox___2S22B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PSdATFFpH6qC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2S22B {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2S22B > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-X-GPb6jNlyyS));
    height: calc(100% + var(--token-X-GPb6jNlyyS));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2S22B > :global(.__wab_flex-container) > *,
  .freeBox___2S22B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2S22B > :global(.__wab_flex-container) > picture > img,
  .freeBox___2S22B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-X-GPb6jNlyyS);
  }
}
.testimonial__wKwQ:global(.__wab_instance) {
  position: relative;
}
.img__iw7MT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-PSdATFFpH6qC);
  width: var(--token-PSdATFFpH6qC);
  object-position: 50% 10%;
  border-radius: 100%;
}
.img__iw7MT > picture > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.testimonial__a9N30:global(.__wab_instance) {
  position: relative;
}
.img__fHu9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-PSdATFFpH6qC);
  width: var(--token-PSdATFFpH6qC);
  object-position: 50% 10%;
  border-radius: 100%;
}
.img__fHu9 > picture > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.testimonial__uy5Ri:global(.__wab_instance) {
  position: relative;
}
.img__kxxNk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-PSdATFFpH6qC);
  width: var(--token-PSdATFFpH6qC);
  object-position: 50% 50%;
  border-radius: 100%;
}
.img__kxxNk > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.section__rzQaq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-EPiKkH7ARKPs);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-PSdATFFpH6qC) 0;
}
.section__rzQaq > * {
  grid-column: 4;
}
.freeBox___6Hd8Y {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___6Hd8Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Hd8Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Hd8Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-HORj6LCotodD));
    height: calc(100% + var(--token-HORj6LCotodD));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Hd8Y > :global(.__wab_flex-container) > *,
  .freeBox___6Hd8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Hd8Y > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Hd8Y
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-HORj6LCotodD);
  }
}
.freeBox__a0USz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 630px;
  padding: 8px;
}
.img__fscCa {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__fscCa > picture > img {
  object-fit: cover;
}
.freeBox__zsz5D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 560px;
  min-width: 0;
}
.freeBox__zsz5D > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-HORj6LCotodD));
  height: calc(100% + var(--token-HORj6LCotodD));
}
.freeBox__zsz5D > :global(.__wab_flex-container) > *,
.freeBox__zsz5D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zsz5D > :global(.__wab_flex-container) > picture > img,
.freeBox__zsz5D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-HORj6LCotodD);
}
.text__uO11Q {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--token-gKBhMi_ROKEp);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uO11Q {
    font-size: 22px;
  }
}
.text___8AKeI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-bsyV_OXF_NhW);
}
.button__ioRtq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__d1B46 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fyJF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
